<p id="notice"><%= notice %></p>

<% @services.each do |service| %>
    <div class="list-wrapper">
      <a href='/services/<%= service.id %>'>
        <div class="list-image">
          <%= image_tag 'flower.jpg' %>
        </div>
        <div class="list-description">
          <!--<div class="list-name">-->
          <p><%= service.name %></p>
          <% service.rate_times = 10 if service.rate_times.nil? %>
          <div class="stars">
            <form action="">
              <input class="star star-5" id="star-5" type="radio" disabled name="star" <%= 'checked' unless service.rate_times.floor > 5 %>/>
              <label class="star star-5" for="star-5"></label>
              <input class="star star-4" id="star-4" type="radio" disabled name="star" <%= 'checked' unless service.rate_times.floor > 4 %>/>
              <label class="star star-4" for="star-4"></label>
              <input class="star star-3" id="star-3" type="radio" disabled name="star" <%= 'checked' unless service.rate_times.floor > 3 %>/>
              <label class="star star-3" for="star-3"></label>
              <input class="star star-2" id="star-2" type="radio" disabled name="star" <%= 'checked' unless service.rate_times.floor > 2 %>/>
              <label class="star star-2" for="star-2"></label>
              <input class="star star-1" id="star-1" type="radio" disabled name="star" <%= 'checked' unless service.rate_times.floor > 1 %>/>
              <label class="star star-1" for="star-1"></label>
              <div class="clear"></div>
            </form>
          </div>

          <p><%= "#{t('location')}: #{service.location}" %></p>

          <p><%= number_to_currency service.price, unit: 'Tsh ' %></p>

          <!--</div>-->
        </div>
      </a>
    </div>
<% end %>
<div class="clear"></div>

<br>

<%= link_to 'New Service', new_service_path %>

