<p id="notice"><%= notice %></p>
<div class="main-left-column">
  <div class="profile-pics-wrapper">
    <div class="profile-pic-wrapper groom">
      <div class="profile-pic"><%= image_tag 'groom.jpg' %></div>
      <p>Groom name</p>
    </div>
    <div class="and">&</div>
    <div class="profile-pic-wrapper bride">
      <div class="profile-pic"><%= image_tag 'bride.jpg' %></div>
      <p>Bride name</p>
    </div>
    <div class="counter clear"><p><span class="days">8958</span> days to go!</p></div>
  </div>
</div>
<div class="main-right-column">
  <div class="cover-photo"></div>
  <div class="wedding-description-wrapper">
    <div class='tabs'>
      <ul class='horizontal'>
        <li><a href="#tab-1"><%= t('photos') %></a></li>
        <li><a href="#tab-2"><%= t('albums ') %></a></li>
        <li><a href="#tab-3"><%= t('vendors') %></a></li>
      </ul>
      <div id='tab-1'>
        <div id="add-files-wrapper"></div>
        <%= link_to '', {controller: :uploads, action: :new}, class: 'add-image', remote: true %>
        <div id="lightgallery">
          <%= render partial: 'weddings/wedding_photos' %>
        </div>
      </div>
      <div id='tab-2'>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).
      </div>
      <div id='tab-3'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.tabs').tabslet();
        $("#lightgallery").lightGallery({
            thumbnail:true
        });
    });
</script>
