<div class="home-section" style="margin-top: 66px;">
  <div class="image-slider">
    <div class="bannercontainer">
      <div class="banner">
        <ul>
          <li data-transition="boxslide" data-slotamount="7">
            <%= image_tag 'users/hands.jpg' %>
            <div class="caption sft big_white" data-x="400" data-y="100" data-speed="700" data-start="1700" data-easing="easeOutBack">KICKSTART
              YOUR WEBSITE
            </div>
            <div class="caption sfb big_orange" data-x="400" data-y="142" data-speed="500" data-start="1900" data-easing="easeOutBack">WITH
              SLIDER REVOLUTION!
            </div>
            <div class="caption lfr medium_grey" data-x="510" data-y="210" data-speed="300" data-start="2000">UNLIMITED
              TRANSITIONS
            </div>
          </li>

          <!-- SLIDE  -->
          <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
            <!-- MAIN IMAGE -->
            <%= image_tag 'users/real-wedding.jpg' %>
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption lightgrey_divider skewfromrightshort fadeout" data-x="85" data-y="224" data-speed="500" data-start="1200" data-easing="Power4.easeOut">My
              Caption
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="home-section  white-bg">
  <div class="home-content-wrapper">
    <h1>This is a very large text which describes what these icons mean.</h1>

    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>
    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>
    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>
    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>
    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>
    <div class="home-icon-contents">
      <div class="home-image-wrapper"><%= image_tag 'users/cocktails.png' %></div>
      <h3>Lolem ipsum</h3>

      <p>This is a lolem ipsum contntsafafaf afaoonf alfoanoaf ao afn aflaof anaoafa</p>
    </div>

  </div>
</div>

<div class="home-section">
  <div class="pageyield">

    <h2>Find all your wedding services in one place and make your plan today</h2>

    <% @service_categories.each do |service_category| %>
        <div class="list-wrapper slide-bottom">
          <a href='services/?id=<%= service_category.id %>'>
            <div class="list-image">
              <%= image_tag service_category.image.url %>
            </div>
            <div class="list-description">
              <p><%= service_category.name %></p>
            </div>
          </a>
        </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
<div class="home-section white-bg">
  <%= image_tag 'users/real-wedding.jpg', class: 'bg-image' %>
</div>
<div class="home-section">
  <%= image_tag 'users/hotel.jpg', class: 'bg-image' %>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.banner').revolution({
            delay: 9000,
            startwidth: 1200,
            startheight: 700,
            hideThumbs: 10
        });

        $(window).fadeThis({
            speed: 1000,
            distance: 50,
            offset: -300
        });
    });

</script>