<p id="notice"><%= notice %></p>
<div class="listing-filter-left"></div>

<div class="listing-right">
  <% @vendors.each do |vendor| %>
      <div class="list-wrapper">
        <div class="list-actions">
          <%= link_to '', vendor, method: :delete, data: {confirm: 'Are you sure?'}, class: 'fa fa-trash' %>
          <%= link_to '', edit_vendor_path(vendor), class: 'fa fa-pencil' %>
        </div>
        <a href='<%= vendor_path vendor.id %>'>
          <div class="list-image">
            <%= image_tag vendor.logo.url %>
          </div>
          <div class="list-description">
            <p><%= vendor.name %></p>
          </div>
        </a>
      </div>
  <% end %>
</div>
<div class="clear"></div>

<br>

<%= link_to 'New Vendor', new_vendor_path %>
