<div class="footer clear">
  <div class="footer-inner">
    <div class="footer-logo"><%= image_tag 'logo_footer.png' %></div>
    <ul class="footer-social-media">
      <li><%= link_to '', 'https://facebook.com', class: 'social facebook fa fa-facebook' %></li>
      <li><%= link_to '', 'https://twitter.com', class: 'social twitter fa fa-twitter' %></li>
      <li><%= link_to '', 'https://plus.google.com', class: 'social gplus fa fa-google-plus' %></li>
    </ul>
    <ul class="footer-menu">
      <li><%= link_to t('privacy_policy'), anchor: '' %></li>
      <li><%= link_to t('terms_of_use'), anchor: '' %></li>
    </ul>
  </div>
</div>