<!DOCTYPE html>
<html>
<head>
  <title>Ring</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="popup-container"></div>
<div class="header">
  <div class="header-inner">
    <div class="logo"><a href="/"><%= image_tag 'logo.png' %></a></div>
    <%= text_field_tag :search, params[:s], placeholder: "#{t(:search_for)}", class: 'search-box' %>
    <ul class="header-menu">
      <li><%= link_to "#{t(:vendors)}", vendors_path %></li>
      <li><%= link_to "#{t(:services)}", service_categories_path %></li>
      <li><%= link_to "#{t(:weddings)}", weddings_path %></li>
    </ul>
    <div class="right-header-buttons">
      <%= link_to "#{t('register')}", new_user_path, class: 'lightcoral', remote: true %>
      <%= link_to "#{t('login')}", {controller: 'users', action: 'login'}, class: 'lightsage', remote: true %>
    </div>
  </div>
</div>
<%= yield %>
<div class="footer"></div>
</body>
</html>
